<div class="page-container">
	<header class="header">
		<h1>Medicator</h1>
	</header>

	<div class="search-box-wrapper">
		<div class="search-bar">
			<nz-input-group [nzPrefix]="suffixIconSearch">
				<input type="text" nz-input placeholder="search added medications" />
			</nz-input-group>
			<ng-template #suffixIconSearch>
				<span nz-icon nzType="search"></span>
			</ng-template>
		</div>
		<button
			class="add-medication-btn"
			nz-button
			nzType="primary"
			(click)="openModal()"
		>
			Add medication
		</button>
	</div>

	<nz-table
		#table
		class="medication-table"
		[nzData]="medications"
		[nzShowPagination]="false"
		[nzScroll]="{x: '700px', y: '500px'}"
		[nzLoading]="this.dataSubscription && !this.dataSubscription.closed"
	>
		<thead>
			<tr>
				<th>Medication</th>
				<th>Dosage</th>
				<th>Frequency</th>
				<th>Last updated</th>
			</tr>
		</thead>
		<tbody>
			@for (medication of table.data; track medication.id) {
			<tr>
				<td>{{ medication.name }}</td>
				<td>{{ medication.dosage }} {{ medication.unit }}</td>
				<td>{{ medication.days | frequency : medication.times }}</td>
				<td>{{ medication.lastUpdated | date : "dd MMMM YYYY" }}</td>
			</tr>
			}
		</tbody>
	</nz-table>
</div>
